.Nav {
  background-color: cornflowerblue;
  width: 200px;
  height: 100%;
}
.profile_img {
  background-image: url("hayden.jpg");
  display: block;
  height: 60px;
  width: 60px;
  border: black 1px solid;
  float: right;
}
